<!-- This is String interpolation -->

<h1>This is {{x}} </h1>

<!-- Example of *ngFor directive -->
<ul>
    <li *ngFor="let hero of heroes">
      {{ hero }}
    </li>
</ul>

<div *ngIf="isValid;then content else other_content">here is ignored</div>

<ng-template #content>
  ngIf is true
</ng-template>
<ng-template #other_content>
  ngIf is false
</ng-template>

<br>
<!-- Data Binding -->

<input [(ngModel)]="name" required>

    <p>Entered Value: {{ name }}</p>
    
<!-- Events => click -->
<button (click)="setValue()">Reset value</button>


<p>Esghhslue: {{ name }}</p>
<p>Entesdgsdgsge: {{ name }}</p>
